<div class="modal fade" id="confirm-paid-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ 'Confirmation'|trans }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ confirmation_text }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
                <form method="post" action="" id="confirm-paid-form">
                    <button type="submit" class="btn btn-success">{{ 'Mark paid'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
